<style type="text/css">

    /* Client-specific Styles */
    #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;} 
    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */ 
    .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */  
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */ 
    #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    /* End reset */
    
    body {
      font-family: helvetica;
      -webkit-font-smoothing: antialiased;
    }

    #templateContainer {
      width: 540px;
    }

    #backgroundTable {
      background-color: #f5f5f2;
    }

    table {
      font-size: 16px;
      padding: 0;
      border-spacing: 0px;
      background: white;
    }

    table.module {
      border-bottom: 6px solid #1f262b;
    }

    a {
      text-decoration: none;
    }

    img.button {
      display: block;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 1em;
    }

    td.width {
      width: 540px
    }

    td.width table {
      width: 100%;
    }

    img.spacer {
      width: 100%;
    }
    img.fitted {
      width: 100%;
    }

    #header {
      background-color: #ffffff;
    }

    #logo {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    #footer-module { 
      background-color: #ffffff;
    }

    #footer {
      display: block;
      width: 70%;
      margin: 0 auto;
    }

    h1 {
      font-family: helvetica;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 1.2em;
      font-size: 2em;
      -webkit-font-smoothing:antialiased;
      color: #1f262b;
    }

    p, li {
      font-family: helvetica;
      line-height: 1.4;
      font-size: 1.1em;
      padding: 0;
      margin: 0;
      color: #43494e;
      font-weight: 300;
      margin-bottom: 1em;
    }

    ul {
      border-top: 1px solid #cccccc;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      border-bottom: 1px solid #cccccc;
    }

    li span {
      display: block;
      padding: 0.375em;
      color: #ffffff;  
      font-weight: bold;  
    }

    #social {
      text-align: center;
      padding: 2em 0 1.5em 0;
      /*border-bottom: 6px solid #1f262b;*/
    }

    .social-buttons {
      text-align: center;
    }

    #social img {
      padding: 0 10px;
    }

    #sub-line {
    }

    #sub-line p {
      color: #6b7c85;
      font-family: helvetica;
      text-align: center;
      line-height: 1.5em;
      font-size: 0.75em;
    }

    #sub-line a {
      font-weight: bold;
      color: #1f262b;
    }

    @media only screen and (max-device-width : 320px) {
      td.width {
        width: 100%;
      }
      h1 {
        font-size: 1.5em;
      }
      #logo {
        width: 100%
      }
      #footer {
        width: 100%
      }

    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      body {
        -webkit-font-smoothing:antialiased;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      td.width {
        width: 100%;
      }

      #logo {
        width: 100%
      }

      #footer{
        width: 100%
      }

    }

  </style>